h1{
    color:rgb(0, 4, 255);
    padding:6px 12px;
    text-align:center;
    width:100%;
    z-index: 1;
    top:0;
    left:0;     
}
        p{
    color:purple;
    padding:20px;
    
}
        ul{
    border-width: 4px;
    border-style: dotted;
    border-color:rgb(139, 0, 0);
    max-width: 400px;
}    
    
        li{
    text-shadow: 3px 3px lightgray;

}
        p.hi{
    color:red;

}
        body{
    background-color:rgb(219, 165, 93);
}
        p.sup{
    color:rgb(0, 0, 255)
            

}
        hr{
            color:black
        }

        h3{
    color:green;
        }

    .bottom{
        color: blue
    }